<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guardian Guide</title>
    <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
</head>

<body>
    <nav class="row">
        <div class="nav-wrapper col s12">
            <a href="#" class="brand-logo">Guardian Guide</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <main>
      {{{body}}}
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 offset-m3 center-align">
            <span>Contributors</span>
            <ul class="">
              <li><a class="grey-text text-lighten-3" href="https://github.com/thatthembritt">Britt Boyd</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/bencha27">Benjamin Cha</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/mo-aden">Mohamed Aden</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/larsonrj">Ryan Larson</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/rsheridan613">Ryan Sheridan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>