/* Navbar */
nav {
  color: black;
  background-color: #1a237e;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-right: 2rem;
}

nav .brand-logo {
  padding-left: 2rem;
  color: white;
}

nav ul a {
color: white;
}



/* Footer */
.page-footer {
  background-color: #1a237e;
  color: white;
}

.center-align span {
  font-size: 2rem;
}



/* Main content */
main {
  background-color: white;
  flex: 1 0 auto;
}



/* Signup form */
.input-field > label {
  color: black;
}

input[type="text"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input.valid[type=text]:not(.browser-default),
input.valid[type=email]:not(.browser-default),
input.valid[type=password]:not(.browser-default) {
  border-bottom: 1px solid #90a4ae;
  box-shadow: 0 1px 0 0 #90a4ae;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #1a237e;
  box-shadow: 0 1px 0 0 #1a237e;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #1a237e;
}

.btn {
  background-color: #1a237e;
}

.btn:hover {
  background-color: #304ffe;
}



/* New task form */
/* Dropdown */
.dropdown-content li>a, .dropdown-content li>span {
  color: #1a237e;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #1a237e;
}

/* Datepicker */
.datepicker-date-display {
  background-color: #1a237e;
}

.datepicker-table td.is-today {
  color: #304ffe;
}

.datepicker-table td.is-selected {
  background-color: #304ffe;
  color: white;   
}

.datepicker-cancel,
.datepicker-done {
  color: #304ffe;
}



/* Dashboard */
.avatar-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  padding-top: 2rem;
}

.collection .collection-item.avatar {
  min-height: 64px;
}

.collection.with-header .collection-header {
  background-color: #9fa8da;
}

.collection .custom-li {
  background-color: #c5cae9;
  font-size: 1.2rem;
}

.task-member {
  padding-left: 2rem;
  font-size: 1rem;
}

#taskmain {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  color: white;
}

.white-text {
  height: 20px;
  width: 50px;
}

.card-panel {
  display: flex;
  justify-content: center;
}



/* Media queries */
@media screen and (max-width: 600px) {
  .avatar-collection {
      flex-direction: column;
  }
  #navbar {
      flex-direction: column;
  }
}